
// Custom font size 

.lead-xl {
    font-size: 2rem;
  }


// Paleta de colores 

$gradient: linear-gradient(to right, #434343 0%, black 100%);
$color-gray: #434343;
$color-black: #232323;
$color-red: #B0232D;
