body {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    background: url(../images/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white
}

@import "components/header";
@import "components/navbar";
@import "components/aside";
@import "components/main";
@import "components/footer";
@import "components/breadcrumb";
@import "components/scrollbar";


@import "variables";
@import "media-queries";